extends base

block vars
    - var title = 'Home'
block body
    h1 Haligrove
    p.
        Welcome to Haligrove.com! Please 
        <a href="/login">Login</a> or <a 
        href="/register">register</a> to continue.
    